a:hover{
    text-decoration: none;
    color: #333;
}
.pagination a{
    color: #428BCA !important;
    border: 1px solid #ddd !important;
    line-height: 1.42857143;
}
.pagination .active a{
    background-color: #337ab7;
    color: #fff!important;
    border: 1px solid #337ab7!important;
    line-height: 1.42857143;
}
.pagination a:hover{
    background-color:#ddd!important;
    color: #428BCA !important;
}
.pagination {
    position: relative;
    left: 50%;
    transform: translate(-50%)
}
.one, .two, .tree{
    float: left;
    margin-right: 100px;
}
.futable {
    margin-top: 50px;
    margin-bottom: 10px;
}
/*.top{*/
/*    border-bottom: 1px solid #8DB6CD;*/
/*}*/
#btn_b{
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%)
}
/*.pull-right {*/
/*    margin-bottom: 10px;*/
/*    height: 30px;*/
/*}*/

/* meeting Setting.css */
.center-div{
    float: left;
    margin-bottom: 10px;
}
.content{
    margin-top: 5px!important;
}
.count{
    float: right;
    text-align: center;
    margin-top: 40px;
    margin-right: 30px;
}
.center-div ul{
    display: inline;
    list-style-type: none;
}
.center-div ul li{
    display: inline-block;
}
.btn_setting{
    width: 100px!important;
}
/* 添加 */
/* 登录 start */
.center-sign a:hover{
    text-decoration-line: none;
}
.center-sign a:focus{
    text-decoration: none;
}
