{% extends 'base.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block content %}
		<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">
				<a href="javascript:void(0)" class="logo pull-left">
<!--					<img src="assets/images/logo.png" height="54" alt="Porto Admin" />-->
					<h2>奖助学金评定系统</h2>
				</a>
				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> 登 &nbsp;&nbsp; 录</h2>
					</div>
					<div class="panel-body">
<!--						<form action="" method="post">-->
<!--							{% csrf_token %}-->
							<div class="form-group mb-lg">
								<label>Username</label>
								<div class="input-group input-group-icon">
									<input name="username" type="text" class="form-control input-lg username" />
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="form-group mb-lg">
								<div class="clearfix">
									<label class="pull-left">Password</label>
									<a href="pages-recover-password.html" class="pull-right">Lost Password?</a>
								</div>
								<div class="input-group input-group-icon">
									<input name="pwd" type="password" class="form-control input-lg password" />
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div class="checkbox-custom checkbox-default">
										<input id="RememberMe" name="rememberme" type="checkbox"/>
										<label for="RememberMe">记住我</label>
									</div>
								</div>
								<div class="col-sm-4 text-right">
									<button type="submit" class="btn btn-primary hidden-xs login">登录</button>
									<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign In</button>
								</div>
							</div>

							<span class="mt-lg mb-lg line-thru text-center text-uppercase">
								<span>or</span>
							</span>
<!--							<div class="mb-xs text-center">-->
<!--								<a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>-->
<!--								<a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>-->
<!--							</div>-->
							<p class="text-center">还没有账号 <a href="pages-signup.html">注册!</a>

<!--						</form>-->
					</div>
				</div>
			</div>
		</section>
		<!-- end: page -->

{% endblock %}
{% block script %}
	<!-- Vendor -->
		<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
		<script src="{% static 'assets/javascripts/theme.js' %}"></script>
<!--		&lt;!&ndash; Theme Base, Components and Settings &ndash;&gt;-->
<!--		<script src="assets/javascripts/theme.js"></script>-->

<!--		&lt;!&ndash; Theme Custom &ndash;&gt;-->
		<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>

<!--		&lt;!&ndash; Theme Initialization Files &ndash;&gt;-->
		<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>
<script>
	$(".login").click(function () {
		var username = $(".username").val();
		var password = $(".password").val();
		if($.trim(username) == ""){
			alert("用户名不能为空");
		}else if($.trim(password) == ""){
			alert("密码不能为空");
		}else {
			$.post("{% url 'MyUser:login' %}", {"username": username, "password": password, csrfmiddlewaretoken: '{{ csrf_token }}'}, function (data) {
				// window.location.href("{% url 'dataManagement:index' %}");
				if(data.status == "成功"){
					window.location.href = "{% url 'dataManagement:index' %}"
				}else {
					alert(data.status);
				}
			})
		}
	})
</script>
{% endblock %}