<div class="form-group">
    <input type="text" value="{{ studentGradeObj.id }}" hidden id="change-id">
    <label for="change-sname">姓名:</label>
    <input type="text" class="form-control" id="change-sname" value="{{ studentGradeObj.sname }}">
</div>
<div class="form-group">
    <label for="change-sno">学号:</label>
    <input type="text" class="form-control" id="change-sno", value="{{ studentGradeObj.sno }}">
</div>
<div class="form-group">
    <label for="change-number1">课程平均成绩/考研成绩:</label>
    <input type="number" class="form-control" id="change-number1" value="{{ studentGradeObj.grade1 }}">
</div>
<div class="form-group">
    <label for="change-number2">复试成绩/开题成绩:</label>
    <input type="number" class="form-control" id="change-number2" value="{{ studentGradeObj.grade2 }}">
</div>