{% extends "xadmin/base_site.html" %}
{% load static %}
{# 导入 样式#}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content-nav %}
      <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
        data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
        data-class-sm="navbar content-navbar navbar-default navbar-xs">
        <div class="navbar-header">
            <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse">
                会议设置
            </a>
        </div>
        <form class="navbar-form navbar-left" action="" method="get">
            <div class="input-group search-group">

            {% if q %}<span class="input-group-btn"><a class="btn btn-default" href="?">x</a></span>{% endif %}
            <input id="searchbar" class="form-control" type="text" name="_q_" value="" placeholder="搜索 评审会议">
            <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></span>
            </div>

        </form>
        <div class="navbar-btn pull-right hide-xs">
        <a href="/xadmin/dataManagement/meeting/add/" class="btn btn-primary"><i class="fa fa-plus"></i>
        增加 评审会议</a>


          </div>
      </div>
{% endblock %}

{% block content %}
{#    状态 start #}
    {# 状态 end #}
   <table class="table table-hover table-bordered">
       <thead>
        <tr>
          <th>会议名称</th>
          <th>结束时间</th>
          <th>评分状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for meeting in page_of_meetings %}
            <tr >
                <td><a href="/xadmin/dataManagement/meeting/{{ meeting.id    }}/update/">{{ meeting.title }}</a></td>
                <td>{{ meeting.endTime }}</td>
{#                <td style="color: {% if meeting.gradeStatus == '未开始' %}#4F94CD {% elif meeting.gradeStatus == '已开始' %} #2E8B57{% else %}#CD3700 {% endif %}" >{{ meeting.gradeStatus }}</td>#}
{#                <td style="color: {% if meeting.gradeStatus == '未开始' %}#4F94CD {% elif meeting.gradeStatus == '已开始' %} #2E8B57{% else %}#CD3700 {% endif %}" >{{ meeting.gradeStatus }}</td>#}
                <td>
{#                    <div class="btn-group pull-right">#}
{#                        <a class="editable-handler" title=""><i class="fa fa-edit"></i></a>#}
{#                     </div>#}
                    <span  style="color: {% if meeting.gradeStatus == '未开始' %}#4F94CD {% elif meeting.gradeStatus == '已开始' %} #2E8B57{% else %}#CD3700 {% endif %}" >{{ meeting.gradeStatus }}</span>
                </td>
                <td>
{#                    <a href="{% url 'xadmin:importStudent' %}?id={{ meeting.id }}" title="导入不符合资格学生" class="import-student"><img style="width: 20px;" src="{% static 'image/导入.png' %}" alt=""></a>#}
{#                    <a href="" title="导入学生成绩" class="import-student">&ensp;&ensp;<img style="width: 20px;" src="{% static 'image/导入 (1).png' %}" alt=""></a>#}
                    <a href="{% url 'xadmin:meetingSetting' %}?id={{ meeting.id }}" title="会议管理" class="import-student"><img style="width: 20px;" src="{% static 'image/设置.png' %}" alt=""></a>
                </td>
                {#    状态 start #}

{#    状态 end #}
            </tr>
        {% empty %}
        {% endfor %}
      </tbody>
   </table>
   <div aria-label="Page navigation">
   <div class="pag">
      <ul class="pagination">
        <li>
            {% if page_of_meetings.has_previous %}
                <a href="?page={{ page_of_meetings.prevoius_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% else %}

            {% endif %}
        </li>
            {% for page_num  in page_of_meetings.paginator.page_range %}
               {% if page_num == page_of_meetings.number %}
                    <li  class="active" class=""><a href="?page={{ page_num }}">{{ page_num }}</a></li>
               {% else %}
                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
               {% endif %}
            {% endfor %}
        <li>
            {% if page_of_meetings.has_next %}
                <a href="?page={{ page_of_meetings.next_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% else %}
            {% endif %}
        </li>
      </ul>
   </div>
   </div>
<script>
</script>
{% endblock %}

